// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: rgba(126, 147, 60, .8);
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-beige: #FEFAE1;
$light-green: #81eebd;
