.approval {
  padding: 5px;
  border-radius: 10px;
}

.approve-buttons {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-left: 200px;
  width: 50%;
}

.nav {
  justify-content: center;
}

.book-button {
 width: 100%;
}