// Specific CSS for your home-page
.top-allotments-container {
  margin-bottom: 300px;
}
a {
    text-decoration: none;
    color: black;
    &:hover {
      color: black;
      text-decoration: none;
    }
  }
