.flex {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin: 0 5px;
  }
  h1 {
    margin-top: 20px;
    margin-left: 40px;
    color: #F4F4F4;
    font-size: 50px;
    letter-spacing: 5px;
  }
}

.details {
  justify-content: center;
}

.description, .booking {
  padding: 32px;
  background-color: #F4F4F4;
  margin: 15px 52px;
}

.show-background {
  margin-top: 60px;
  border-radius: 3%;
  background-color: #81eebd;
  box-shadow: 5px 5px rgba(175, 170, 185, 20%);
  padding: 64px;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.pics {
  width:500px;
  height:300px;
}

.options {
  border-radius: 26%;
  // background-color: wite;
  padding: 32px;
  margin: 15px 52px;
}

.options li {
  padding: 12px 28px;
  color: #0fa3b1;
}

.options li:hover {
  color: #D8F1A0;
}

.options li a {
  color: #D8F1A0;
}

#edit {
  padding: 0 7px;
}

#delete {
  margin-top: 35px;
}