.flex {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin: 0 5px;
  }
  h2 {
    margin-top: 35px;
    margin-left: 40px;
  }
}

.details {
  justify-content: space-between;
}

.description, .booking {
  padding: 32px;
  background-color: white;
  margin: 15px 52px;
}

.show-background {
  margin-top: 60px;
  border-radius: 3%;
  background-color: #81eebd;
  box-shadow: 5px 5px rgba(175, 170, 185, 20%);
  padding: 64px;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.pics {
  width:500px;
  height:300px;
}