.flex {
  h1 {
    text-align: center;
    color: #293719;
    opacity: 0.9;
    font-weight: 600;
    text-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}
.description-container {
  background-color: rgba(247, 241, 220,0.9);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.photo-box {
  height: 600px;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin: 0 5px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
  }
  h1 {
    margin-top: 20px;
    margin-left: 40px;
    color: black;
    font-size: 50px;
    letter-spacing: 5px;
  }
}
.description-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F5E0BD;
  margin-bottom: 30px;

  .description-header-img{
    display: grid;
    p {
      align-self: end;
      font-size: 13px;
      color: #717171;
    }
  }
  .avatar-large {
    width: 56px;
    border-radius: 50%;
    justify-self: end;
    padding-bottom: 10px;
  }
}

.details {
  display: flex;
  justify-content: space-around;
}

.description {
  margin-bottom: 20px;
  p:first-child {
    padding-bottom: 30px;
  }
}

.show-background {
  margin-top: 20px;
  border-radius: 3%;
  padding: 64px;
  padding-bottom: 5px;
  margin-bottom: 150px;
}

.pics {
  width:500px;
  height:300px;
}

.booking {
  position: sticky;
  top: 90px;
  right: 0;
  background: #F5E0BD;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
  border-radius: 10px;
  opacity: 0.9;
  h6 {
    text-align: right;
  }
  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    opacity: 1;
  }
}

.options {
  border-radius: 26%;
  // background-color: wite;
  position: sticky;
  top: 100px;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
  a {
    margin: 20px 0;
  }
}


