<div class="footer">
    <ul class="icon-list">
      <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></a></i></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></a></i></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></a></i></li>
      <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></a></i></li>
    </ul>
    <p class="quotes">"Choose only one master, nature." <cite>Rembrandt.</cite></p>
    <p class="guild">The Guild Ltd.</p>
</div>
