.btn-flat {
  color: white;
  padding: 6px 20px;
  border-radius: 4px;
  background: rgba(126, 147, 60, .8);
  transition: background 0.3s ease;
  font-size: 20px;
}

.btn-flat:hover {
  background: rgb(126, 147, 60);
  color: white;
}

.btn-danger {
  color: white;
  padding: 6px 20px;
  border-radius: 4px;
  transition: background 0.3s ease;
  font-size: 20px;
  font-weight: bold;
}
