.navbar-lewagon {
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 35px;
  margin-right: 10px;
}
