<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-md-8">
      <div class="form-login">
        <div class="form p-5">
        <h2>New Allotment</h2>

        <%= render 'form', allotment: @allotment %>

        <%= link_to 'Back', allotments_path %>
        </div>
      </div>
    </div>
  </div>
</div>

